* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3em;
  color: white;
}

@media (max-width: 768px) {
  body {
    font-size: 1.15em;
  }
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#typed {
  position: relative;
  display: inline-block;
}

.typed1 {
  display: inline-block;
  overflow: hidden;
  animation: typing 1000ms steps(20, end) forwards 1;
  white-space: nowrap;
  box-sizing: border-box;
}

.typed2 {
  display: inline-block;
  overflow: hidden;
  animation: typing 1000ms steps(20, end) forwards reverse 1;
  white-space: nowrap;
  box-sizing: border-box;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.green {
  color: #8bc34a;
}

.yellow {
  color: #ffc107;
}

.blue {
  color: #02bfe7;
}

.cursor-blink {
  position: absolute;
  margin-left: 4px;
  top: 16px;
  width: 11px;
  height: 38px;
  background-color: white;
  animation: blink .75s step-end infinite;
}

@media (max-width: 768px) {
  .cursor-blink {
    width: 5px;
    height: 17px;
    top: 5px;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

footer {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
}

#linkedin {
  padding-left: 2px;
  vertical-align: sub;
}