* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3em;
  color: white;
}

@media (max-width: 768px) {
  body {
    font-size: 1.15em;
  }
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center; 
}

#typed {
  position: relative;
  display: inline-block;
}

.typed1 {
  display: inline-block;
  overflow: hidden;
  animation: typing 1s steps(60, end);
  white-space: nowrap;
  box-sizing: content-box;
}

.typed2 {
  display: inline-block;
  overflow: hidden;
  animation: typing 1s steps(60, end) reverse;    
  white-space: nowrap;
  box-sizing: content-box;
}

@keyframes typing {
  0% {
      width: 0%;        
  }

  100% {        
      width: 100%;        
  }
}

.green {
    color: #8bc34a;
}

.cursor-blink {
  position: absolute;
  margin-left: 4px;
  top: 16px;
  width: 11px;
  height: 38px;
  background-color: white;
  animation: blink .75s step-end infinite;
}

@media (max-width: 768px) {
  .cursor-blink {
    width: 5px;
    height: 17px;
    top: 5px;
  }
}

@keyframes blink {

  0%,
  100% {
      opacity: 0;              
  }

  50% {
      opacity: 1;        
  }
}

